body{
    font-family: arial, sans-serif;
    
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo{
    
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    margin-left: 388px;
    float: left;
    -webkit-animation: comming 2s;
    -o-animation: comming 2s;
    animation: comming 2s;
}

@keyframes comming{
    from{opacity: 0;}
    to {opacity: 1}
}

.menu{
    float: left;
    padding-left: 432px;
    
}

.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase ;
    text-decoration: none;
    
    }

.menu li a{
    -webkit-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    color: white;
    display: inline-block;
    transform: scale(1);
    -webkit-animation: comming 2s;
    -o-animation: comming 2s;
    animation: comming 2s;
     }
.menu li a:visited{
    display: block;
    color: white;
}
.menu li a:hover{
    color: #ee941c;
    text-decoration:underline;
        
}
.menu li a:active{
    transform: scale(1.1);
    
}


.main{
    width: 100%;
    height: 100%;
    background: url(../img/Paren.png) 93% 100%/auto 85% no-repeat , url(../img/fon_paren.jpg) center/cover no-repeat;  
    box-shadow: 0px -2px 25px #000 inset;
    -webkit-animation: move_background 1s;
    -o-animation: move_background 1s;
    animation: move_background 1s;
    
}
@keyframes move_background{
    from{
        background: opacity: 0;
        background-position: 0% 100%;
    }
    to{
        background: opacity: 1;
        background-position: 93% 100% ;
    }
}

.titlr_container{
    float: left;
    margin: 432px 0px 0px 404px;
    color:  #2c384a;
    text-align: center;
    -webkit-animation: comming 2s;
    -o-animation: comming 2s;
    animation: comming 2s;
 }

.titlr_container h1{
    font-size: 60px;
    font-weight: bold;
    }
.titlr_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
    }
.titlr_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
    transition: transform 0.2s;
    transform: scale(1);
}
.titlr_container input:hover{
    box-shadow: 0px 0px 5px #6d7682;
    background: #6d7682;
    color: white;
}
.titlr_container input:active{
    transform: scale(1.1);
}

.obo_mne{
    margin-top: 107px;
       
}
.obo_mne_container h2{
    display: block;
    text-align: center;
    color: #263244;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    
    }

.obo_mne_container img{
    display: block;
    margin: 31px auto 60px auto;
   -webkit-animation: move_img 2s linear;
   -o-animation: move_img 2s linear;
   animation: move_img 2s linear;
    animation-fill-mode: forwards;
    }
@keyframes move_img{
    from{
        opacity: 0;
        transform: translate(-100%,0);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
    }
}
.opis1{
    display: block;
    width: 730px;
    margin: 25px auto 0px auto;
}
.opis2{
    display: block;
    width: 730px;
    margin: 42px auto 0px auto;
}

.obo_mne_container button{
    display: block;
    width: 157px;
    height: 32px;
    border: 2px solid #6f707e;
    border-radius: 6px;
    background: url(../img/icon.jpg) 12px 8px no-repeat ;
    margin: 37px auto 0px auto;
    line-height: 32px;
    font-size: 14px;
    color: #6f707e;
    text-decoration: none;
    padding: 0px 12px 0px 32px;
    transition: transform 0.2s;
    transform: scale(1);
    
   
}
.obo_mne_container button:hover{
    box-shadow: 0px 0px 5px #6d7682;
    background: #6d7682 url(../img/icon.png) 12px 8px no-repeat;
    color: white;
    
}
.obo_mne_container button:active{
    transform: scale(1.1);
    background: #6d7682 url(../img/icon.png) 12px 8px no-repeat;
    }

.chto_ya_umeyu{
    margin-top: 100px;
    width: 100%;
    height: 523px;
    background: url(../img/kart_fon.jpg) round no-repeat center;
    
}

.chto_ya_umeyu_container{
   
    
}

.chto_ya_umeyu_container h2{
    display: block;
    padding-top: 107px;
    text-align: center;
    color: #263244;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
        
}

.chto_ya_umeyu_container img{
    display: block;
    margin: 31px auto 0px auto;
    
   
   }

.web{
    display: block;
    width: 211px;
    margin: 107px 0px auto 416px;
    background: url(../img/nout.png) top no-repeat;
        
}
.web p{
       
    padding-top: 75px;
    text-align: center;
    font-size: 15px;
    color: #cf7600;
    
    
}
.web span{
    display: block;
    font-family: calibri ;
    font-size: 14px;
    text-shadow: 0.3px 0px 0px #3f495a;
    text-align: center;
    color: #3f495a;
    padding-top: 15px;
   }

.razrab{
    display: block;
    width: 211px;
    margin: -163px 0px auto 700px;
    display: block;
    background: url(../img/znak.png) top no-repeat;
   
}

.razrab p{
    padding-top: 75px;
    text-align: center;
    font-size: 15px;
    color: #cf7600;
}

.razrab span{
    display: block;
    font-family: calibri ;
    font-size: 14px;
    text-shadow: 0.3px 0px 0px #3f495a;
    text-align: center;
    color: #3f495a;
    padding-top: 15px;
}


.ceo{
    display: block;
    width: 211px;
    margin: -149px 0px auto 1003px;
    background: url(../img/raket.png) top no-repeat;
    
    
}
.ceo p{
    padding-top: 75px;
    text-align: center;
    font-size: 15px;
    color: #cf7600;
    }
.ceo span{
     display: block;
    font-family: calibri ;
    font-size: 14px;
    text-shadow: 0.3px 0px 0px #3f495a;
    text-align: center;
    color: #3f495a;
    padding-top: 15px;
}

.market{
    display: block;
    width: 211px;
    margin: -163px 0px auto 1296px;
    background: url(../img/grammofon.png) top no-repeat;
    
    
}
.market p{
    padding-top: 75px;
    text-align: center;
    font-size: 15px;
    color: #cf7600;
}
.market span{
    display: block;
    font-family: calibri ;
    font-size: 14px;
    text-shadow: 0.3px 0px 0px #3f495a;
    text-align: center;
    color: #3f495a;
    padding-top: 15px;
    
    }
.case{
   
    }
.case_container>h2{
    display: block;
    margin-top: 107px;
    text-align: center;
    color: #263244;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
        
}
.case_container>h3{
    margin-top: 37px;
    padding-bottom: 6px;
    text-align: center;
    color: #3f495a;
    font-size: 12px;
}
.case_container img{
    display: block;
    margin: 31px auto 0px auto;
    
   }
.company{
    display: inline-block;
    margin-left:370px;
    margin-right: 83px;
    width: 203px;
    }
.company h3{
    display: block;
    font-size: 20px;
    color: #384354;
    font-weight: bold;
    text-align: left;
    margin-bottom: 8px;
    
}
.company h5{
    display: block;
    font-size: 16px;
    color: #384354;
    text-align: left;
    margin-bottom: 8px;
    }
.company a{
    display: block;
    -webkit-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transform: scale(1);
}
.company a:hover{
    color: #384354;
    text-decoration: underline;
    }
.company a:active{
    transform: scale(1.1);
}

.company input{
    display: block;
    width: 201px;
    height: 44px;
    border: 1px solid #63b5ae;
    border-radius: 5px;
    background: rgb(99, 181, 174);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    -webkit-transform: skew 0.3s;
    -ms-transform: skew 0.3s;
    -o-transform: skew 0.3s;
    transform:skew(0deg, 0deg);
    }
.company input:hover{
    border: 2px solid #1390a1;
}
.company input:active{
    transform:skew(15deg, 1deg);
}
.name_project{
    
    width: 852px;
    margin: -149px 0px 0px 674px;
    padding-bottom: 57px;
}
.name_project h3{
    display: block;
    font-size: 20px;
    color: #384354;
    font-weight: bold;
    text-align: left;
       
}
.name_project h4{
    font-family: calibri;
    margin-top: 10px;
    display: block;
    font-size: 20px;
    color: #384354;
    text-align: left;
    text-shadow: 0.1px 0px 0px #384354;
}
.raschet_stoimosti{
    width: 890px;
    margin: 202px auto 0px auto;
    
    
}
.parametri_rascheta h2{
    font-size: 32px;
    font-weight: bold;
    color: #1c2534;
    text-align: center;
    
}
.parametri_rascheta h3{
    font-size: 24px;
    font-weight: bold;
    color: #1c2534;
    text-align: left;
    margin-bottom: 36px;
}
.parametri_rascheta select{
    font-family: sans-serif;
    width: 100%;
    margin-bottom: 63px;
    font-size: 15px;
    color: #737373;
    text-shadow: 0.2px 0px 0px #737373;
    
}
.itogi{
    width: 100%;
    
}
.itogi span{
    display: block;
    font-size: 18px;
    margin-top: 22px;
    color: #1c2534;
    font-weight: bold;
    float: left;
    
    }
.sroki{
    display: block;
    float: left;
    white-space: nowrap;
    margin-right: 820px;
    }

.price{
    display: block;
    float: right;
    margin-right: 778px;
}

.little_statistic{
    display: block;
    margin-top: 153px;
    width: 100%;
    height: 497px;
    background: url(../img/nout_fon.jpg) no-repeat;
    
}
.statistic h2{
    display: block;
    padding-top: 103px;
    font-size: 25px;
    font-weight: bold;
    color: #323d4f;
    text-transform: uppercase;
    text-align: center;
    
   
}
.statistic img{
    display: block;
    margin: 31px auto 0px auto;
    }




.znak_static{
    display: block;
    width: 100%;
    height: 54px;
    margin-top: 80px;
     background: url(../img/smile.png) 495px  no-repeat , url(../img/skobki.png) 783px no-repeat , url(../img/galka.png) 1079px no-repeat , url(../img/kubok.jpg) 1371px no-repeat;
    
    }
.kol-vo{
    display: block;
    width: 100%;
    font-weight: bold;
    color: #323e4f;
    float: left;
    font-size: 33px;
    text-transform: uppercase;
    margin-top: 30px;
    
}
.kol-vo>.q120{
    margin-left: 496px;
    
    }
.kol-vo>.q4600 {
    margin-left: 217px;
   }
.kol-vo>.q340 {
    margin-left: 215px;
   }
.kol-vo>.q23 {
    margin-left: 249px;
    }

.comm{
    display: block;
    width: 100%;
    color: #323e4f;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    float: left;
        
}
.comm>.clients {
    margin-left: 439px;
  }
.comm>.hour_work {
    margin-left: 136px;
}
.comm>.project_compleate{
    margin-left: 136px;
}
.comm>.nagradi{
    margin-left: 140px;
}
.otziv h2{
    display: block;
    margin-top: 103px;
    font-size: 25px;
    font-weight: bold;
    color: #323d4f;
    text-transform: uppercase;
    text-align: center;
    }
.otziv img{
    display: block;
    margin: 31px auto 0px auto;
    }
.otziv p{
    display: block;
    background: url(../img/muzik.png) top no-repeat;
    height: 170px;
    text-align: center;
    margin-top: 60px;
    padding-top: 136px;
    }
.otziv span{
    color: #243042;
    font-size: 14px;
    text-shadow: 0.2px 0px 0px #243042;
    
}
.mihail{
    display: block;
    margin-top: 34px;
    text-align: center;
     }
.tochki{
    display: block;
    height: 20px;
    margin: 58px auto 0px auto;
    background:url(../img/orange_point.jpg) 920px no-repeat  , url(../img/white_point.jpg) 944px no-repeat , url(../img/white_point.jpg) 968px no-repeat;
}
.my_contact{
    display: block;
    margin: 91px auto 0px auto;
    height: 808px;
    background: url(../img/fon_blue.jpg) no-repeat center;
    color: #fff;
    
}
.contact h2{
    display: block;
    padding-top: 103px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    }
.contact>img{
    display: block;
    margin: 31px auto 0px auto;
    }
.contact p{
    margin: 32px auto 0px auto;
}
.pic_dannie{
    width: 100%;
    display: block;
    word-spacing: 230px;
    margin-top: 44px;
    text-align: center;
}
.word_dannie{
    display: block;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: -65px;
}
.city{
    display: inline-block;
    width: 150px;
    height: 37px;
    text-align: center;
    margin-left: 614px;
    float: left;
}
.e-mail{
    display: inline-block;
    width: 150px;
    height: 37px;
    text-align: center;
    margin-left: 100px;
}
.telefon{
    display: inline-block;
    width: 150px;
    height: 37px;
    text-align: center;
    margin-left: 114px;
}
.contact input{
    height: 34px;
    width: 354px;
    display: inline-block;
    margin-top: 46px;
    
}
.in_name{
    display: block;
    margin-left: 594px;
    padding-left: 15px;
}
  .in_e-mail{
    display: block;
    margin-left: 28px;
      padding-left: 15px;
}
.contact textarea{
    display: block;
    text-align: center;
    margin: 14px 0px 0px 594px;
    text-align: left;
    width: 740px;
    height: 94px;
    padding: 10px 0px 0px 15px;
}
input.subm{
    display: block;
    width: 126px;
    height: 46px;
    margin: 28px auto 0px auto;
    color: white;
    background-color: rgba(255, 255, 255 , 0);
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
}
.karta{
    height: 350px;
    width: 100%;
}
footer{
    height: 96px;
    width: 100%;
    background-color: rgb(53, 64, 81);
    color: white;
    line-height: 96px;
    font-family: arial, sans-serif;
    font-size: 16px;
   }

